.FriendWrapper {
	color: #FFF;
	background-color: #175E60;
	width: 100%;
	min-height: 100px;
	margin: 5px 0;
	
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-flex-flow: row wrap;
			-ms-flex-wrap: wrap;
					flex-wrap: wrap;

	-ms-flex-align: center;
	-webkit-box-align: center;

	align-items: center;
}

.FriendWrapper .user-info {
	padding: 15px;
}
.FriendWrapper .action-panel {
	margin-left: auto;
}

.FriendWrapper img {
	max-width: 100px;
}
