.friend-wrapper {
	color: #FFF;
	background-color: #175E60;
	width: 100%;
	min-height: 96px;
	margin: 5px 0;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-flex-flow: row wrap;
			-ms-flex-wrap: wrap;
					flex-wrap: wrap;

	-ms-flex-align: center;
	-webkit-box-align: center;

	align-items: center;
}

.friend-wrapper .user-info {
	padding: 15px;
}
.friend-wrapper .action-panel {
	margin-left: auto;
}

.friend-wrapper img {
	max-width: 96px;
}

a {
	text-decoration: none;
}
